.root {
  --main-color: #ffffff;
  --main-cub: cubic-bezier(0.4, 0, 0.2, 1);
}


/* -------------------------------- HEADER ---------------------------------- */



body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: (var(--main-color));
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.span-header {
  color: #000000;
}

.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-link {
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}


.current::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
height: 4px;
bottom: -32px;
left: 0;
background: #2196F3;
border-radius: 2px;
margin-bottom: -1px; 
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.current:hover,
.current:focus {
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-item {
  position: relative;
  display: flex;
}


.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

/* --------------------------------- MAIN ------------------------------------ */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  border-radius: 3px;
  border: 0px;
}

.main-title {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages {
  display: flex;
  gap: 30px;
}

.attention {
  padding-top: 94px;
}

.benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
  align-items: baseline;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}

.benefits-icon-container {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 50px;
}

.doing {
  display: flex;
  gap: 30px;
}

.doing-title {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doing-thumb {
  position: relative;
  height: 294px;
}

.doing-thumb-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
position: absolute;
background-color: rgba(47, 48, 58, 0.8);
width: 100%;
height: 70px;
padding-top: 27px;
padding-bottom: 27px;
justify-content: center;
align-items: center;
bottom: 0;
right: 0;

}

/*-----------------TEAM-------------*/

.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 10px;
}

.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: calc((100% - 90px) / 4);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50px;
}

.team-soc-icon {
  fill: #afb1b8;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.our-team {
  display: flex;
  gap: 30px;
}

/*---------------CLIENTS-------------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-soc-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-soc-link:hover,
.clients-soc-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/*--------------PORTFOLIO-----------------*/

.all-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  justify-content: center;
}

.item-list:hover,
.item-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-item {
position:absolute;
top: 0;
left: 0;
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
height: 100%;
transform: translateY(101%);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.item-list {
  background: #ffffff;
  flex-basis: calc(100% / 3 - 30px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list:hover .thumb-item,
.item-list:focus .thumb-item {
transform: translateX(0);
}

.all {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
}

.all-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-items {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-checklist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-list {
  margin-right: 8px;
}

.portfolio-list:last-child {
  margin-right: 0px;
}

.portfolio-inside {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  width: auto;
  padding: 6px 22px;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------------------------FOOTER-----------------------------------*/

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-address-link {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mail {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-tel {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address-link:hover,
.contacts-address-link:focus {
  color: #2196f3;
}

.contacts-link-mail:hover,
.contacts-link-mail:focus {
  color: #2196f3;
}

.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: #2196f3;
}

.span-footer {
  color: #ffffff;
  display: inline-block;
  padding-bottom: 20px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo-link-footer {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
  border-radius: 50px;
}

/* .footer-soc-item:hover,
.footer-soc-item:focus {
  background-color: #2196f3;
  border-radius: 50px;
} */

.right-side-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-container-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-container-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
}

.footer-container {
  display: flex;
  background: #2f303a;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: baseline;
  gap: 70px;
}

.footer-container-third {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start
  /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
    height: 90px; */
}

.third-footer-text {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}



.subscribe-div {
  display: flex;
}

.subscribe-email {
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
background-color: #2F303A;
border-radius: 4px;
}

.subscribe-email::placeholder {
  font-weight: 400;
font-size: 16px;
line-height: 1.25px;

padding-left: 16px;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  position: relative;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88px;
width: 200px;
height: 50px;
border: 0px;
padding: 10px 28px;
background: #2196F3;
border-radius: 4px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #FFFFFF;

}

.subscribe-btn:hover,
.subscribe-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



.subscribe-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #FFFFFF;
}

/* ------------------BACKDROP--------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 42, 42, 0.5);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  padding: 40px;
  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn:hover,
.modal-btn:focus {
  fill: #2196F3;
}

.is-hidden { 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.modal-title {
  font-weight: 700;
font-size: 20px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
  margin-bottom: 12px;
  display: block;
  height: 23px;
}



.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.input-div {
  position: relative;
  height: 40px;
}



.modal-label {
height: 58px;
}

.modal-icon {
position: absolute;
top: 11px;
left: 12px;
cursor: pointer;
}



.modal-label-text {
  font-weight: 400;
font-size: 12px;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
margin-top: 10px;
display: block;
}


.modal-comment {
  width: 100%;
  height: 120px;
border-radius: 4px;
resize: none;
cursor: pointer;
outline: transparent;
border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-comment:focus {
  border: 1px solid #2196F3;
}

.modal-comment::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
padding: 12px 16px;
}

.check-text {
  font-weight: 400;
font-size: 14px;
line-height: 1.71px;

letter-spacing: 0.03em;

color: #757575;
display: flex;
align-items: center;
}



.check-text span {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span  {
  background-color: #2196F3;
  border-color: transparent;
  fill: #FFFFFF;
}

.input-check:focus + .check-text span  {
  border-color: #2196F3;      
}


.contract {
  font-weight: 400;
font-size: 14px;
line-height: 1.71px;

letter-spacing: 0.03em;
padding-left: 5px;

  color:  #2196F3;
}


.send-button {
  bottom: 0;
  font-family: 'Roboto';
font-style: normal;
  font-weight: 700;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
  background: #188CE8;
  cursor: pointer;
border-radius: 4px;
padding: 10px 52px;
height: 50px;
border: 0px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
margin: 0 auto;
margin-top: 30px;
}


